@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap');

:root {
  margin: 0;
  padding: 0;
  --bkg: #fff;
  --text: #232323;
  --blue: #2164f3;
  --gray: #eeeeee;
  --dash-offset: 40;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--bkg);
  font-family: 'Fredoka', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5rem;
  overflow: hidden;
  margin: 0 auto;
}

@media (orientation: landscape) {
 main {
  display: flex;
 }
}


